body {
  //line-height: 1.5;
  //height: calc(100vh - (6em));
  color: $black;
  background: $main-background;
}
::selection {
  background: lighten($blue, 40%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


img {
  vertical-align: bottom;
}

* {
  //outline: 1px dotted rgba(red, 0.1);
}


button {
  border: 0;
  background: 0;
  padding: 0;
  margin: 0;
}

.sticky {
  position: sticky;
  top: 2em;
  @media screen and (max-width: $max-mobile) {
    position: relative;
    margin-top: 0;
    top: 0;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: all .4s;
  
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  //transform: translateY(10%);
}


.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
