$column-gap: 1em;

.columns {
    display: flex;
    margin-left: $column-gap * -1;
    margin-right: $column-gap * -1;
    .column {
        padding: $column-gap;
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
}