@import "variables.scss";

.columns {
    display: flex;
    margin-left: $column-gap * -1;
    margin-right: $column-gap * -1;
    @media screen and (max-width: $max-mobile) {
        flex-direction: column;
        margin: 0;
    }
    .column {
        padding: 0 $column-gap;
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        &.is-half {
            flex: none;
            width: calc(50% - 4em);
        }
        &.is-full {
            flex: none;
            width: calc(100% - 4em);
        }
        &.is-one-third {
            flex: none;
            width: calc(calc(100% / 3) - 4em);
        }
        &.is-two-thirds {
            flex: none;
            width: calc(66.6666% - 4em);
        }
        @media screen and (max-width: $max-mobile) {
            flex: none;
            width: 100%;
            margin: 0;
        }

        &.is-half, &.is-full, &.is-one-third, &.is-two-thirds {
            @media screen and (max-width: $max-mobile) {
                flex: none;
                width: 100%;
                margin:0;
                padding: 0;
            }
        }
    }
}

.is-multiline {
    flex-wrap: wrap;
}
