@font-face{
    font-family:"Rational Display DEMO W05 Ligh";
    src:url("~assets/fonts/5366467/a236111e-2bcc-4e04-8ff0-e36a9ae5246a.eot?#iefix");
    src:url("~assets/fonts/5366467/a236111e-2bcc-4e04-8ff0-e36a9ae5246a.eot?#iefix") format("eot"),url("~assets/fonts/5366467/ef1c1c55-0c6d-43fa-af11-cbed217ff4c8.woff2") format("woff2"),url("~assets/fonts/5366467/74eb922c-4d63-4768-bf54-fb70019ed600.woff") format("woff"),url("~assets/fonts/5366467/d81b4ad2-845d-4a06-ba07-b644d4a12e06.ttf") format("truetype");
}
@font-face{
    font-family:"Rational Display DEMO W05 SmBd";
    src:url("~assets/fonts/5366957/e2639237-fb04-4129-944e-72fff90c2f11.eot?#iefix");
    src:url("~assets/fonts/5366957/e2639237-fb04-4129-944e-72fff90c2f11.eot?#iefix") format("eot"),url("~assets/fonts/5366957/c67a126e-f963-4b3f-8224-c639587219b8.woff2") format("woff2"),url("~assets/fonts/5366957/c4957af6-8766-4d4d-8542-d561de2fef63.woff") format("woff"),url("~assets/fonts/5366957/f0b393f8-6c9c-4335-a66c-4fea76a55ea8.ttf") format("truetype");
}