@import "variables.scss";

html {font-size: 18px;}
body {
  font-family: $light-font;
}
p {
  font-style: normal;
  font-weight: normal;
  //font-size: 17px;
  line-height: 150%;
  //color: #4F4F4F;
  margin-bottom: 1.25em;
  //font-weight: 300;
  &.lead {
    font-weight: 300;
    font-size: 1.2em;
    font-style: italic;
    //font-family: Georgia, 'Times New Roman', Times, serif;
  }
}



h1, h2, h3, h4, h5 {
  font-family: $bold-font;
  margin: 2.75rem 0 1rem;
  //font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.025em;
  //color: $header-color;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

@media screen and (max-width: 720px) {
  h1 {
    margin-top: 0;
    font-size: 2.25em;
  }
  
  h2 {font-size: 2.157em;}
  
  h3 {font-size: 1.7em;}
  
  h4 {font-size: 1.3em;}
  
  h5 {font-size: 1.2em;}
}

small, .text_small {font-size: 0.75em;}


ul {
  list-style: dot;
  list-style-position: inside;
}


a {
  color: $link-normal;
  text-decoration: none;
  font-weight: 600;
  // &.active-link {
  //   color: green;
  // }
  transition: all 0.25s ease;
  &:hover {
    color: $link-hover;
  }
  &.exact-active-link {
    //border-bottom: 2px solid $orange;
    color: $link-active;
  }
}


