@import "variables.scss";

html {font-size: 18px;}
body {
  font-family: $light-font;
  font-variant-ligatures: none;
  line-height: 150%;
}
p {
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 1.25em;
  &.lead {
    font-weight: 300;
    font-size: 1.2em;
    font-style: italic;
  }
}

strong {
  font-family: $bold-font;
}

h1, h2, h3, h4, h5 {
  font-family: $bold-font;
  margin: 2.75rem 0 1rem;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.025em;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

@media screen and (max-width: 720px) {
  h1 {
    margin-top: 0;
    font-size: 2.25em;
  }
  
  h2 {font-size: 2.157em;}
  
  h3 {font-size: 1.7em;}
  
  h4 {font-size: 1.3em;}
  
  h5 {font-size: 1.2em;}
}

small, .text_small {font-size: 0.75em;}


ul {
  margin-left: 1em;
  margin-bottom: 1em;
  li {
    &:not(:last-child) {
      margin-bottom: 0.4em;
      line-height: 150%;
    }
  }
}


a {
  color: $link-normal;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.25s ease;
  &:hover {
    color: $link-hover;
  }
  &.exact-active-link {
    color: $link-active;
  }
}