// Font face

$font-style-light: "Rational Display DEMO W05 Ligh", -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
$font-style-bold: "Rational Display DEMO W05 SmBd", -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;


// Breakpoints

$column-gap: 2em;

$max-mobile: 768px;

$max-tablet: 960px;

$max-hd: 1280px;

$max-fullhd: 1920px;

$max-4k: 2190px;



