// $orange: #FF6B17;
// $blue: #173CFF; //#0E3FF2;
// $teal: #17F1FF;
// $orange-light: #F9EFE6;
// $light-gray: #F7F7F7;



// $accent: $blue;

// // // Theme orange
// $main-background: white;
// $main-color: $black;
// $header-color: $accent;
// $dimmed-color: rgba($main-color, 0.5);
// $images-background: $orange-light;
// $link-normal: $black;
// $link-hover: $accent;
// $link-active: $link-hover;

$font-style-light: "Rational Display DEMO W05 Ligh", -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
$font-style-bold: "Rational Display DEMO W05 SmBd", -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;


$column-gap: 2em;

$max-mobile: 768px;

$max-tablet: 960px;

$max-hd: 1280px;

$max-fullhd: 1920px;

$max-4k: 2190px;



