$orange: #F5894C;
$black: #000;
$blue: #0E3FF2;
$orange-light: #F9EFE6;
$light-gray: #F7F7F7;

$grey: lighter($black, 50%);

$column-gap: 2em;

$max-mobile: 768px;

$max-tablet: 960px;

$max-hd: 1280px;

$max-fullhd: 1920px;

$max-4k: 2190px;